<!-- max 2 variable gedeeld tussen controller en view -->
<!--links nieuws -->

<h4>Het laatste nieuws van vandaag </h4>
<hr/>
<%= render 'posts', item: @articlesToday %>

<h4 class="hnieuws">Berichten van gisteren</h4>
<hr/>
<%= render 'posts', item: @articlesYesterday %>

<h4 class="hnieuws">Berichten van <%= I18n.localize(Time.now.to_date - 2.day, :format => '%A %d, %B') %></h4>
<hr/>
<%= render 'posts', item: @articlesDayBeforeYesterday %>
